<app-menu></app-menu>
<app-header></app-header>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img src="/assets/Imagenes/Farmanoa.gif" alt="First slide">
                    </div>
                    <div class="carousel-item">
                    <img src="/assets/Imagenes/Farmanoa 1.gif" alt="Second slide">
                    </div>
                  </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Anterior</span>
                </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Siguiente</span>
        </a>
  </div>
  <div class="container"> 
    <div class="row" >
       <div class="itemprod col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador " routerLink="/detalleprod/{{item._id}}"  *ngFor="let item of listadatos">
        <a class="btn-flotante" href="https://web.whatsapp.com/send/?phone=573015307454&text= Hola Farmanoa! Me interesa comprar este producto: {{item.nombre}}" target="_blank">
          <i class="fa-brands fa-whatsapp"></i></a>
        <img class="ImgPro" src="http://162.5.1.127:3000/productos/{{item._id}}.png" width="90%" height="60%">
        <h5>{{item.nombre}}</h5>
        <p>{{item.categoria}}</p> 
        <h6>{{item.valor | currency}} </h6>
        <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Ver producto</button>
          
      </div>  
      
    </div> 
    
  </div>
  

 
<app-footer></app-footer>
