<ul class="nav" id="pills-tab" role="tablist">
    <li class="nav-item">
      <a class="nav-link " id="pills-medicamentos-tab" data-toggle="pill" routerLink="/productos" role="tab" aria-controls="pills-contact" 
      aria-selected="true"
       >Medicamentos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-cuidado_piel-tab" data-toggle="pill" routerLink="/piel" role="tab" aria-controls="pills-profile"
      aria-selected="true">Cuidado de la piel</a>
    </li> 
    <li class="nav-item">
      <a class="nav-link" id="pills-niños-tab" data-toggle="pill" routerLink="/prodninos" role="tab" aria-controls="pills-contact" 
      aria-selected="true">Niños</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-nutricionales-tab" data-toggle="pill" routerLink="/prodnutricional" role="tab" aria-controls="pills-contact" 
      aria-selected="true">Nutricionales</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-cuidado_pers-tab" data-toggle="pill" routerLink="/prodcuidadoper" role="tab" aria-controls="pills-contact" 
      aria-selected="true">Cuidado personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-Ofertas-tab" data-toggle="pill" routerLink="/prodofertas" role="tab" aria-controls="pills-contact" 
      aria-selected="true">Ofertas</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="pills-dispensario-tab" data-toggle="pill" href="" role="tab" aria-controls="pills-contact" 
      aria-selected="true">Dispensario Sanitas</a>
    </li>
  </ul>
  