<app-menulateral></app-menulateral>
<div class="ventanaflotante"></div>
<app-header></app-header>
<div class="container">
    <div class="row">      
      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/Diclofenaco-sodico.jpg" width="60%" height="90%" alt="">
        <h5> Diclofenaco Sódico 50 mg</h5>
        Und. 20 Tabletas recubiertas
        <h6>$25.000</h6>
       <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
        </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
          <img src="/assets/Imagenes/Acetaminofen.jpg" width="60%" height="90%" alt="">
          <h5> Acetaminofen 500 mg</h5>
          Und. 20 Tabletas
          <h6>$4.000</h6>
         <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
          title="Añadir al carrito " data-button-action="add-to-cart" 
          type="submit">Comprar</button>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/Amoxcicilina.jpg" width="60%" height="90%" alt="">
        <h5> Amoxcicilina 500 mg</h5>
        Und. 20 capsulas
        <h6>$35.000</h6>
       <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/Ibuprofeno.jpg" width="60%" height="90%" alt="">
        <h5> Ibuprofeno 800 mg</h5>
        Und. 20 tabletas recubiertas
        <h6>$15.000</h6>
       <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/Dolex.webp" width="60%" height="90%" alt="">
        <h5> Dolex 500 mg</h5>
        Und. 100 tabletas recubiertas
        <h6>$45.000</h6>
       <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/fosforovitam.webp" width="60%" height="90%" alt="">
        <h5>Fosforovitam</h5>
        Und. 60 capsulas gel
        <h6>$105.000</h6>
       <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/losartan.jpg" width="60%" height="90%" alt="">
        <h5>Losartam 50 mg</h5>
        Und. 60 tabletas
        <h6>$35.000</h6>
       <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/Voltaren.png" width="60%" height="90%" alt="">
        <h5>Voltaren gel</h5>
        Und. 1 tubo colapsible gel
        <h6>$65.000</h6>
       <button id="/assets/btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/BACKPAIN-GEL.png" width="60%" height="90%" alt="">
        <h5>Backpain gel</h5>
        Und. 1 tubo colapsible gel
        <h6>$35.000</h6>
       <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/Neuro15fosforo.jpg" width="60%" height="90%" alt="">
        <h5>Neuro 15 Fosforo</h5>
        Und. 20 Capsulas 
        <h6>$105.000</h6>
       <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/ASPIRINA.png" width="60%" height="90%" alt="">
        <h5>Aspirina</h5>
        Und. 20 tabletas  
        <h6>$18.700</h6>
       <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
      </div>

      <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-3 separador">
        <img src="/assets/Imagenes/Pedialyte-60.webp" width="60%" height="90%" alt="">
        <h5>Pedialyte 60 </h5>
        Und. Frasco 300 ml  
        <h6>$18.700</h6>
       <button id="btn-comprar" class="btn-comprar btn-comprar-white add-to-cart" 
        title="Añadir al carrito " data-button-action="add-to-cart" 
        type="submit">Comprar</button>
      </div>
    </div>
 -->
