<app-menu></app-menu>
<app-header></app-header>
<app-informacion></app-informacion>
<div class="container">
    <div class="row">
      <div class="titulos">
        <h5>Misión</h5>
      </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-x1-3">
        <div class="footer-contenido">
          La misión de la DROGUERÍA FARMANOA es prestar los servicios de atención farmacéutica de baja complejidad con
          el fin de educar a los paciente del buen uso de los medicamentos brindando información oportuna y clara para
          así utilizarlos de la mejor manera, además, se regirá por las normatividades vigentes de los medicamentos
          para mantener la calidad, eficiencia y seguridad de los productos comercializados.</div>
      </div>
      <br>
      <br>
      <div class="titulos">
        <h5>Visión</h5>
        </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-x1-3">
        <div class="footer-contenido">
          La visión de la DROGUERÍA FARMANOA es a seguir creciendo como empresa, ampliar la cobertura del servicio
          farmacéutico, mantener la demanda de productos farmacéuticos con precios accesibles al cliente, una
          excelente atención de nuestro personal de ventas para satisfacer las necesidades de todos sus usuarios y
          comunidad general.</div>
      </div>
       <br>
        <br>
      </div>
    </div>
<app-footer></app-footer>
