<footer>
    <div class="container-footer">
      <div class="row">
            <div class="col-12 col-md-6 col-lg-3 separador-footer">
              <h5>Información</h5>
             <a routerLink="">Quienes somos</a><br>
             <a routerLink="">Promesas de valor</a><br>
             <a routerLink="">Covenios</a><br>
             <a routerLink="">Farmacovigilancia</a><br>
             <a routerLink="/contacto">Contáctenos</a><br>
            </div>
            <div class="col-12 col-md-6 col-lg-3  separador-footer">
              <h5>Horarios de Atención</h5>
             
                Lunes a Sábado
                <br>
                Hora: 8:00 a.m. - 08:00 pm⌚
                <br>
                Domingos y festivos
                <br>
                Hora: 8:00 a.m. - 05:00 pm⌚
                <br>
                Servicio a domicilio 📲. </div> 
             
              <div class="col-12 col-md-6 col-lg-3  separador-footer">
                <h5>Sedes</h5>
                  📍Dir. Cll 17 #13-130 Barrio Góngora <br>
                    Baranoa - Atlántico
                    <br>
                    <br>
                    📍Dir. (Cll 3 #10-78) Barrio Centro <br>
                    Polonuevo - Atlántico </div>
              <div class="col-12 col-md-6 col-lg-3  separador-footer">
               <h5>Redes Sociales</h5>
               <a class="iconos" href="https://instagram.com/farmanoa_drogueria?igshid=YmMyMTA2M2Y=" target="_blank">

                <img src="/assets/Imagenes/IG-ico.png" alt="">
                <img id="imgfac" src="/assets/Imagenes/facebook.svg" alt="">
               </a>
               <br>
               <p>Siguenos</p>
               </div>
        </div>
    
    <footer class="text-center text-white">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Social media -->
        <section class="mb-4">
          <!-- Facebook -->
          <a
            class="iconos"
            href="https://www.facebook.com/farmanoadrogueria">
            <img id="imgfac" src="/assets/Imagenes/facebook.svg" alt=""></a>
    
          <!-- Instagram -->
          <a
            class="iconos"
            href="https://instagram.com/farmanoa_drogueria?igshid=YmMyMTA2M2Y=">
            <img src="/assets/Imagenes/IG-ico.png" alt="">
          </a>
          
          <!--     
          Linkedin
          <a
            class="iconos"
            style="background-color: #0082ca;"
            href=""
            role="button"
            ><i class="fab fa-linkedin-in"></i
          ></a> -->
        
        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->
    
      <!-- Copyright -->
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright:
        <a class="text-white" href="https://www.linkedin.com/in/jailer-alvear-cisneros-91b6b9200/">Jailer Alvear</a>
      </div>
      <!-- Copyright -->
    </footer>
  </div>
</footer>
